@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import 'dizi-font.css';

/*Setup*/
@green: #4EC500;



body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F2EFEC;
}

/*Buttons*/

.btn-primary {
  background-color: @green;
  border-color: @green;
}

.btn-primary:hover {
  background-color: darken(@green,5%);
  border-color: darken(@green,5%);
}

.btn-primary {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 300;
  padding: 15px 20px;
  font-size: 18px;
}

.btn-outline-primary {
  border-color: @green;
  color:@green;
  border-radius: 0;
}

.btn-outline-primary:hover {
  background-color: @green;
  border-color: @green;
}

/*Typograhy*/

a {
  color: @green;
}

a:hover {
  color: @green;
}

h1 {
  margin-bottom: 0.5em;
  font-weight: 300;
}
.lead {
  font-weight: 300;
  margin-bottom: 1.5em;
}

.text-muted {
  color: #7B7E83!important;
}

/*Borders*/
.border-right {
    border-right: 1px solid #F3F3F3!important;
  height: 136px;
}

/*Navbar*/

.navbar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  padding: 1rem;
}

.navbar .row {
  width: 100%;
}

.navbar .navbar-nav {
  margin-top: 10px;
}

.bg-light {
	background-color: #fff !important;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-toggler {
    display:inline-block;
	}
}

.hamburger-menu a {
	font-size:24px;
  color: @green;
}

.hamburger-menu a:hover {
	text-decoration: none;
	opacity: 0.9;
}

.lang {
  vertical-align: top;
}

.lang a {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 5px;
  line-height: 1;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 5px;
}

.lang a:hover {
  color: #fff;
  text-decoration: none;
  background-color: @green;
}

/*Jumbotron*/
.jumbotron {
  background: url('../assets/media/bg-img.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
  border-radius: 0;
  padding: 10% 0 20% 0;
  max-height: 70%;
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: normal;
}
.jumbotron .lead {
  margin-bottom: 3rem;
}

/*Icons*/

.icon-lg {
  font-size: 3rem;
}

.icon-muted {
  color: #C6C6C6;
}

.icon-green {
  color: @green;
}

/*Various*/

.services-line {
  background-color: #fff;
}

@media (max-width: 991px) {
.border-right {
    border-right: none !important;
    margin-bottom: 3rem;
    height: auto;
	}
}

.bg-white {
  background-color: #fff;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: 12px;
  color: #BDBDBD;
}

.breadcrumb .breadcrumb-item a {
  color: #868e96;
}

.breadcrumb .breadcrumb-item.active {
  color: #000
}

/*Modal*/
.modal-content {
  background-color: transparent;
  border: none;
  border-radius: .3rem;
  outline: 0;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0,40px);
    transform: translate(0,40px);
}

.fade {
  opacity: 0;
  background-color: rgba(8,197,0,0.96);
  transition: opacity .15s linear;
}

.navigation.modal .modal-header {
  border-bottom: none;
}

.modal .close {
  color:#fff;
  text-shadow: none;
  opacity: 1;
  margin-top: 1em;
  margin-right: 1em;
}
.navigation.modal ul li {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  display: block;
}

.navigation.modal ul li.border-none {
  border-bottom: none;
}

.navigation.modal ul li a {
  font-size: 1.45em;
  font-weight: 300;
  color: #fff;
}

.navigation.modal ul li a:hover {
  text-decoration: none;
}

@media (min-width: 576px) {
.navigation .modal-dialog {
    margin-top: 10%;
  }
}



/*Services*/

.services .bg-white .row {
  margin: 0;
}
.services .bg-white .row .col-lg-6 {
    padding-right: 0;
    padding-left: 0;
}

/*Project*/
.projects .img-fluid {
  width:100%;
}

.projects .card {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border:none;
}

.projects .card .card-text{
  min-height: 100px;
}

.projects .badge-customer,
.project .badge-customer{
  color: @green;
  min-height: 31px;
  display: inline-block;
  font-size: 12px;
}

.projects a.filter {
  background-color: #F8F6F4;
  color: #9B9B9B;
  text-decoration: none;
  vertical-align: middle;
  font-size: 1.45em;
  font-weight: 300;
}

.projects a.filter.active {
  background-color: #fff;
  color: @green;
}

.projects a.filter .icon {
  font-size: 1.5em;
  vertical-align: text-bottom;
}

.projects a.filter:hover {
  color: @green;
}

/*Footer*/

footer {
  background-color: #86898E;
  color: #fff;
  font-size: 14px;
}

footer .email {
  font-size: 43px;
  font-weight: 300;
  color: #fff;
}

