@font-face {
  font-family: 'dizi';
  src:  url('../assets/fonts/dizi.eot?gvf2k4');
  src:  url('../assets/fonts/dizi.eot?gvf2k4#iefix') format('embedded-opentype'),
    url('../assets/fonts/dizi.ttf?gvf2k4') format('truetype'),
    url('../assets/fonts/dizi.woff?gvf2k4') format('woff'),
    url('../assets/fonts/dizi.svg?gvf2k4#dizi') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dizi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-culture:before {
  content: "\e901";
}
.icon-hamburger:before {
  content: "\e902";
}
.icon-icon-education-green:before {
  content: "\e903";
}
.icon-learning:before {
  content: "\e906";
}
.icon-settings:before {
  content: "\e907";
}
.icon-testing:before {
  content: "\e904";
}
.icon-wireframes:before {
  content: "\e905";
}
